body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #E2725B;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

nav ul li a.active {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.logo img {
    width: 150px; /* Hier kannst du die Breite des Logos anpassen */
    height: auto;
}

footer {
    background: linear-gradient(to right, #E2725B, #007B99); /* Farbverlauf entsprechend deiner Farbpalette */
    color: white;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .container {
    text-align: center;
}

footer .attribution a {
    color: white;
    text-decoration: none;
}

footer .attribution a:hover {
    text-decoration: underline;
}
