body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #E2725B;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

nav ul li a.active {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.logo img {
    width: 150px; /* Hier kannst du die Breite des Logos anpassen */
    height: auto;
}

.welcome-section {
    position: relative;
    max-width: 100%; /* Maximale Breite auf 100% des verfügbaren Bereichs setzen */
    height: 550px; /* Höhe des Containers anpassen */
    overflow: hidden; /* Überlauf verstecken, wenn das Bild breiter als sein Container ist */
}

.welcome-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center 20%; /* Hier kannst du den Wert anpassen, um weniger von oben abzuschneiden */
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
}

.welcome-text h1 {
    font-size: 68px; /* Größere Schriftgröße */
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif; /* Als Beispiel: 'Roboto' ist eine moderne Schriftart */
    color: #fff; /* Weißer Text für Kontrast */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Schatten für den Text */
}

.welcome-text p {
    font-size: 18px;
    color: #E8D7A6; /* Eine andere Farbe aus der Farbpalette */
}

.about-us-title h2 {
    font-size: 68px; /* Größere Schriftgröße */
    background: linear-gradient(to right, #E2725B, #007B99, #FFD166, #5B9279, #E8D7A6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 20px;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px; /* Abstand zwischen Willkommensbild und Text */
}

.about-us-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-us-text {
    flex: 1;
    margin-right: 20px; /* Abstand zwischen Text und Bildern */
    font-family: 'Montserrat', sans-serif; /* Verwendung einer modernen Schriftart */
}

.about-us-text p {
    font-size: 30px; /* Größere Schriftgröße für den Text */
}

.about-us-image {
    flex: 1;
    margin-left: 20px; /* Abstand zwischen Text und Bild */
}



footer {
    background: linear-gradient(to right, #E2725B, #007B99);
    color: white;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

footer .container {
    text-align: center;
}

footer .attribution a {
    color: white;
    text-decoration: none;
}

footer .attribution a:hover {
    text-decoration: underline;
}
